*,*::before,*::after{
    box-sizing: border-box;
	margin:0;

}
body{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: hsl(200,100%,20%);
	font-size:medium;
}

.title {
	position: absolute;
	top: 10px;
    padding: 0 30vh;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    font-size: 1.5rem;
}

#backButton{
	position: absolute;
	font-size:medium;
	right: 0px;
	text-align: center;
	z-index: 100;
	padding:1rem;
	display:block;
	color: white;
	background-color: black;
    font-size: 1.5rem;
}
#equation{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
	left:0;
	position: absolute;
	z-index: 100;
	padding: 1rem;
	bottom: 1rem;
	color:white;
	font-size:1.5rem;
}
/* 0xF1C40F, 0x1ABC9C, 0x1ABC9C, 0x1ABC9C, 0xE67E22 , 0xE67E22 , 0xE67E22 , 0xE74C3C */
.a3{
	color: #F1C40F;
}
.a2b{
color: #1ABC9C;
}
.ab2{
color: #E67E22;
}
.b3{
 color: #E74C3C;
}